/* You can choose to do this activity either with a partner or on your own.

Please create new GitHub repository. Create and index.html and separate stylesheet. All styles must go in this separate sheet. MAKE SURE TO MAKE THE REPOSITORY PUBLIC. When finished, please also publish the page using GitHub pages. To submit, copy the link to your published GitHub page here on Canvas.

Please recreate the styling below using CSS grid and divs. Please use fractional units or percentages instead of pixels.

Hint: To fill the entire page, the following CSS may be helpful:

html, body {
      height: 100%;
      margin: 0;
      padding: 0;
}

.container {
      width: 100%;
      height: 100%;

      You will need to add more to this .container as well
}

If you finish early, please experiment with putting other types of elements inside the divs (text, lists, images, links, etc). Attempt to put another grid inside the green div with some interesting layout.
*/

html, body {
height: 100%;
margin: 0;
padding: 0;
}

.container {
display: grid;
width: 100%;
height: 100%;
gap: 1%;
padding: 1%;
grid-template-columns: repeat(12, 1fr);
grid-template-rows: 1fr 1.6fr 1fr 1.4fr;
background: #eee;
}

/* You will need to add more to this .container as well (old)*/

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Arial, sans-serif;
  font-size: 36px;
  color: white;
  text-align: center;
  border: 2.5px solid black;
}

#RED {
    background: red; 
    grid-column: 1 / span 7;
    grid-row: 1;
}

#ORANGE {
    background: orange; 
    grid-column: 8 / span 3;
    grid-row: 1;
}

#YELLOW {
    background: yellow; 
    grid-column: 11 / span 2;
    grid-row: 1;
}


#GREEN {
  background: green;
  grid-column: 1 / span 9;
  grid-row: 2;
  color: white;
}

#BLUE {
    background: darkblue; 
    grid-column: 10 / span 3;
    grid-row: 2;
}


#INDIGO {
    background: violet; 
    grid-column: 1 / span 6;
    grid-row: 3;
}

#VIOLET {
    background: purple; 
    grid-column: 7 / span 6;
    grid-row: 3;
}


#BLACK {
    background: black; 
    grid-column: 1 / -1;
    grid-row: 4;
}

.mini-grid {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
gap: 5%;
width: 90%;
margin: 2% 2%;
}


.cell {
background: white;
color: black;
border: 1px solid black;
display: flex;
align-items: center;
justify-content: center;
font-weight: bold;
}